body{                                                                                                                                                                                                                                                                                                                                        
	margin:0;
	padding:0;
	font:12px "microsoft yahei",Arial;
	color:#666;
}
ul,li,dl,dt,p,h1,h2,h3,h4,h5,h6{
	margin:0;
	padding:0;
	list-style:none;
	outline:none;
}
a{
	text-decoration:none;
	color:#666;
}
a:hover{
	text-decoration:underline;
	color:#e4393c;
}
input,button{
	border:0;
}
img{
	vertical-align:bottom;
}
.lf{float:left;}
.rt{float:right;}
.clear{clear:both;}

.ma{
	width: 1000px;
	height: 313px;	
	margin:50px auto;
	border:1px solid #ddd;
}
.ma ul{
	width: 1000px;
	height: 160px;
	display: flex;
	justify-content: space-between;
}
.ma ul li{
	width: 100px;
	height: 150px;
	display: flex;
	flex-direction: row;
	border: 1px solid #f60;
	background: rgba(0,0,0,.1);
	align-items: center;
	flex-wrap: wrap;/*溢出换行*/
	justify-content: space-around;
}

.ma ul.tong li:nth-child(1) p{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #CF3DF2;
}
.ma ul.tong li:nth-child(2){
	align-items: center;
	flex-flow: column;
	justify-content: space-around;
}
.ma ul.tong li:nth-child(2) p{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #CF3DF2;
}
.ma ul.tong li:nth-child(3)>div{
	width: 80px;
	height: 33px;
	display: flex;
}
.ma ul.tong li:nth-child(3)>div>p{
	width: 38px;
	height: 38px;
	border-radius: 50%;
	background: #CF3DF2;
}
.ma ul.tong li:nth-child(3)>div.dd1{
	justify-content: space-between;
}
.ma ul.tong li:nth-child(3)>div.dd2{
	justify-content: center;
}
.ma ul.tong li:nth-child(3)>div.dd3{
	justify-content: flex-end;
}

.ma ul.tong li:nth-child(4) p{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: #CF3DF2;
}

.ma ul.tong li:nth-child(5) p{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #CF3DF2;
}

.ma ul.tong li.li5 p:nth-child(1){
	order: 1;
}
.ma ul.tong li.li5 p:nth-child(2){
	order: 2;
}
.d1{
	width: 100px;
	height: 40px;
	order: 3;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
.ma ul.tong li.li5 p:nth-child(3){
	order: 3;
	
}
.ma ul.tong li.li5 p:nth-child(4){
	order: 4;
}
.ma ul.tong li.li5 p:nth-child(5){
	order: 5;
}


.ma ul.tong li:nth-child(6) p{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #CF3DF2;
}

.ma ul.tong li:nth-child(7)>p{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: #CF3DF2;
}
.ma ul.tong li .d7{
	width: 100px;
	height:70px;
	display: flex;
	flex-direction: column;
	
}
.ma ul.tong li .d7 div{
	width: 100px;
	height: 22px;
	display: flex;
}
.ma ul.tong li .d7>div.s1{
	justify-content: flex-start;
}
.ma ul.tong li .d7>div.s2{
	justify-content: center;
}
.ma ul.tong li .d7>div.s3{
	justify-content: flex-end;
}
.ma ul.tong li .d7 div p{
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background: #CF3DF2;	
}
.ma ul.tong li:nth-child(8) p{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: #CF3DF2;
}

.ma ul.tong li:nth-child(9) p{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #CF3DF2;
}
/***********************************************/
.ma ul.tiao li:nth-child(1) p{
	width: 10px;
	height: 50px;
	background: #CF3DF2;
}
.ma ul.tiao li:nth-child(2){
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
}
.ma ul.tiao li:nth-child(2) p{
	width: 10px;
	height: 50px;
	background: #CF3DF2;
}
.ma ul.tiao li:nth-child(3){
	align-items: center;
	justify-content: space-around;
}
.ma ul.tiao li:nth-child(3) p{
	width: 10px;
	height: 50px;
	background: #CF3DF2;
}
.d3{
	width: 100px;
	height: 40px;
	order: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;

}
.ma ul.tiao .li3 p:nth-child(2){
	order: 3;
}
.ma ul.tiao .li3 p:nth-child(3){
	order: 4;
}
.ma ul.tiao li:nth-child(4){
	align-items: center;
	flex-flow: column wrap;

}
.ma ul.tiao li:nth-child(4) p{
	width: 10px;
	height: 60px;
	background: #CF3DF2;
}

.ma ul.tiao li:nth-child(5) p{
	width: 10px;
	height: 40px;
	background: #CF3DF2;
}

.ma ul.tiao li.li5 p:nth-child(1){
	order: 1;
}
.ma ul.tiao li.li5 p:nth-child(2){
	order: 2;
}
.d1{
	width: 100px;
	height: 40px;
	order: 3;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
.ma ul.tiao li.li5 p:nth-child(3){
	order: 3;
	
}
.ma ul.tiao li.li5 p:nth-child(4){
	order: 4;
}
.ma ul.tiao li.li5 p:nth-child(5){
	order: 5;
}

.ma ul.tiao li:nth-child(6){
	align-items: center;
	flex-flow: column wrap;
}
.ma ul.tiao li:nth-child(6) p{
	width: 10px;
	height: 60px;
	background: #CF3DF2;
}
.ma ul.tiao li:nth-child(7){
	align-items: center;
	flex-flow: column wrap;
}
.ma ul.tiao li:nth-child(7) p{
	width: 10px;
	height: 40px;
	background: #CF3DF2;
}
.ma ul.tiao li.li7 p:nth-child(1){
	background:0;
}
.ma ul.tiao li.li7 p:nth-child(7){
	background:0;
}
.ma ul.tiao li:nth-child(8){
	align-items: center;
	flex-flow: column wrap;
}
.ma ul.tiao li:nth-child(8) p{
	width: 10px;
	height: 60px;
	background: #CF3DF2;
}
.ma ul.tiao li:nth-child(9){
	align-items: center;
	flex-flow: column wrap;
}

.ma ul.tiao li.li8 p:nth-child(3){
	height: 53px;
	transform: rotate(45deg);
}
.ma ul.tiao li.li8 p:nth-child(5){
	height: 53px;
	transform: rotate(-45deg);
}
.ma ul.tiao li.li8 p:nth-child(4){
	height: 53px;
	transform: rotate(135deg);
}
.ma ul.tiao li.li8 p:nth-child(6){
	height: 53px;
	transform: rotate(-135deg);
}




.ma ul.tiao li:nth-child(9) p{
	width: 10px;
	height: 40px;
	background: #CF3DF2;
}